{include header}
<div class="container">
    <div class="row justify-content-center vh-100">
        <div class="align-self-center">
            {include institle}
            <div class="alert alert-light text-center">
                <i class="bi bi-check2 h3 text-success"></i>{lang('The installation has been successfully completed, please click the button below to continue')}
            </div>
            <div class="text-center">
                <a class="btn btn-outline-success" href="{url('/')}" role="button">{lang('Visit the homepage')}</a>
                <a class="btn btn-outline-success" href="{url('login')}" role="button">{lang('Log in to the background')}</a>
            </div>
        </div>
    </div>
</div>
{include footer}