{include header}
<div class="container">
    <div class="row justify-content-center vh-100">
        <div class="align-self-center">
            <div class="card">
                <div class="card-body">
                    <div class="text-center font-weight-bold mb-3">{lang('Welcome to register')}</div>
                    <form>
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control" placeholder="{lang('Username')}">
                            </div>
                            <small class="form-text text-muted">{lang('Username starts with a letter and can only contain letters, numbers and hyphens')}</small>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                </div>
                                <input type="password" name="password" class="form-control" placeholder="{lang('Password')}">
                            </div>
                            <small class="form-text text-muted">{lang('Password length must be no less than 8 characters')}</small>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-folder-symlink-fill"></i></span>
                            </div>
                            <input type="text" name="email" class="form-control" placeholder="{lang('E-mail')}">
                        </div>
                        <div class="text-center">
                            <button type="button" id="submit" class="btn btn-outline-secondary" data-next="{url('login')}" data-error="{lang('Error')}" data-ok="{lang('Has succeeded')}" data-content="{lang('The new account has been successfully registered')}">
                                {lang('Create new account')}
                                <div class="spinner-border spinner-border-sm text-info d-none" id="submitloading">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </form>
                    <div class="container mt-3">
                        <div class="row text-center">
                            <div class="col-sm">
                                <small><a class="text-secondary" href="{url('/')}">{lang('Back to homepage')}</a></small>
                            </div>
                            <div class="col-sm">
                                <small><a class="text-secondary" href="{url('login')}">{lang('Log in immediately')}</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include footer}