{include header}
<div class="mb-3 h4 float-left">{lang('All tags')}</div>
<div class="float-right">
    <button type="button" id="searchposts" class="btn btn-outline-info btn-sm mx-1{if $isearch == true} d-none{endif}"><i class="bi bi-search mr-1"></i>{lang('Search')}</button>
    <a class="btn btn-outline-info btn-sm" href="{url('admin/addnewtag')}" role="button"><i class="bi bi-plus mr-1"></i>{lang('Add new tag')}</a>
</div>
<div class="clearfix"></div>
<div class="mb-2" id="searchdiv"{if $isearch == false} style="display: none"{endif}>
    <div class="card">
        <div class="card-body pt-3 pb-1 pl-2">
            <button type="button" id="closebutton" class="close float-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="get">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="keywords">{lang('Key words')}</label>
                        <input type="text" class="form-control mb-2" id="keywords" name="keywords" value="{$search.keywords}" placeholder="{lang('Key words')}">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="slug">{lang('Slug')}</label>
                        <input type="text" class="form-control mb-2" id="slug" name="slug" value="{$search.slug}" placeholder="{lang('Slug')}">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info mb-2"><i class="bi bi-search mr-1"></i>{lang('Search')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{lang('Name ')}</th>
            <th scope="col">{lang('Slug')}</th>
            <th scope="col">{lang('Associated template')}</th>
            <th scope="col">{lang('Description')}</th>
            <th scope="col">{lang('Count')}</th>
            <th scope="col">{lang('Manage')}</th>
        </tr>
        </thead>
        <tbody>
        {each $item in $tags.data}
        <tr>
            <th scope="row">{$order}</th>
            <td>{$item.name}</td>
            <td>{$item.slug}</td>
            <td>{$item.template}</td>
            <td>{$item.description}</td>
            <td>{$item.quantity}</td>
            <td>
                <a href="{url('admin/edittag', ['id' => $item.id])}" class="mx-1 text-info">{lang('Edit')}</a>
                <a href="#!" class="mx-1 text-info delete" data-id="{$item.id}" data-name="{$item.name}" data-title="{lang('You sure you want to delete it?')}" data-alert="{lang('Once deleted, it cannot be restored!')}">
                    {lang('Delete')}
                    <div class="spinner-border spinner-border-sm text-info d-none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </a>
            </td>
        </tr>
        {endeach}
        </tbody>
    </table>
</div>
<div>{$tags.paging}</div>
<script src="{$webroot}public/static/js/alltags.js"></script>
{include footer}