{include header}
<div class="mb-3 h4">{lang('Comments')}</div>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{lang('Comments')}</th>
            <th scope="col">{lang('Author')}</th>
            <th scope="col">{lang('E-mail')}</th>
            <th scope="col">{lang('Date')}</th>
            {if($editor)}
            <th scope="col">{lang('Review')}</th>
            {endif}
            <th scope="col">{lang('Manage')}</th>
        </tr>
        </thead>
        <tbody>
        {each $item in $comments.data}
        <tr>
            <th scope="row" class="align-middle">{($comments.page - 1) * $comments.per + $order}</th>
            <td class="align-middle">
                {$item.comment}
            </td>
            <td class="align-middle">{$item.publicname}</td>
            <td class="align-middle">
                {$item.email}
            </td>
            <td class="align-middle">
                <div>
                    <small>
                        {if $item.status == 3}<span class="text-secondary">{lang('Published')}</span>{else}<span class="text-secondary">{lang('Last Modified')}</span>{endif}
                    </small>
                </div>
                <div>
                    {$item.editime|dateFormat($language)}
                </div>
            </td>
            {if($editor)}
            <td class="align-middle">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input putonreview" id="review_{$item.id}" data-id="{$item.id}" data-pid="{$item.pid}"{if($item.status == 3)} checked="checked"{endif}>
                    <label class="custom-control-label{if($item.status == 3)} text-primary{else} text-secondary{endif}" for="review_{$item.id}"><small>{if($item.status == 3)}{lang('Passed')}{else}{lang('Not pass')}{endif}</small></label>
                </div>
            </td>
            {endif}
            <td class="align-middle">
                <a href="#!" class="mx-1 text-info delete" data-id="{$item.id}" data-name="{$item.comment}" data-title="{lang('You sure you want to delete it?')}" data-alert="{lang('Once deleted, it cannot be restored!')}">
                    {lang('Delete')}
                    <div class="spinner-border spinner-border-sm text-info d-none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </a>
                <a href="{url('admin/originalpost', ['id' => $item.pid])}" target="_blank" class="mx-1 text-info">{lang('Original post')}</a>
            </td>
        </tr>
        {endeach}
        </tbody>
    </table>
</div>
<div>{$comments.paging}</div>
{if($editor)}
<div class="d-none">
    <div id="passed">{lang('Passed')}</div>
    <div id="notpass">{lang('Not pass')}</div>
</div>
{endif}
<script src="{$webroot}public/static/js/comments.js"></script>
{include footer}