            <div class="jsnpp_mark" id="jsnpp_mark"></div>
            </div>
            <div class="text-secondary mt-5 mb-1" style="bottom: 0"><small>{lang('Thank you for creating with Jpwrt.')}</small></div>
        </div>
    </div>
</div>
<div id="jpwrt_preparation" class="d-none">
    <div id="jpwrt_ok">{lang('Has succeeded')}</div>
    <div id="jpwrt_err">{lang('Error')}</div>
    <div id="jpwrt_saveok">{lang('Saved successfully!')}</div>
    <div id="jpwrt_yes">{lang('Ok')}</div>
    <div id="jpwrt_cancel">{lang('Cancel')}</div>
    <div id="webroot">{$webroot}</div>
    <div id="language">{$language}</div>
</div>
<script src="{$webroot}public/static/js/jqboac.js"></script>
<script src="{$webroot}public/static/js/admin.js"></script>
</body>
</html>